

        * {
            margin: 0;
            padding: 0;
        }
		 #header {
            position: relative;
        }

        .p1 {
            position: absolute;
            left: 150px;
            top: 80px;
            font-size: 23px;
            cursor: pointer;
            word-spacing:3px;
        }

        .p2 {
            position: absolute;
            right: 150px;
            top: 80px;
            font-size: 23px;
      
            cursor: pointer;
        }

        .img1 {
            position: absolute;
            left: 0;
            right: 0;
            top: 80px;
            margin: auto;
            width: 10%;
        }

          #header   a {
            color: #000;
            text-decoration: none;
        }
		
		
		
		
		
        .box {
            width: 90%;
            margin: 0 auto;
            clear: both;
           min-height:700px;
        }

        .left, .right {
            float: left;
            width: 50%;
        }

        .box img {
            width: 100%;
        }

        .box .txts {
            padding: 100px;
            text-align: center;
            line-height:25px;
            word-spacing: 4px;
        }

        .box h1 img {
            width: 40%;
        }
				
      

       

   

        #footer {
            clear: both;
            text-align: center;
            height: 400px;
            padding-top:70px;
        }

            #footer img {
            width:30%;
            }

        .as a {
            margin-left:30px;
        color:#808080;
        font-size:25px;
        }

        .as {
        margin-bottom:80px;
        }

        #font p {
            line-height: 30px;
            word-spacing: 4px;
        }
